{% extends 'all-project/base.html' %}
{% load bootstrap4 %]
{% load static %}


{% block styles %}

    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/profile.css'%}">

{% endblock %}

{% block content %}
{{ block.super}}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            {{current_user.username}}</h4>
                        <small><cite>{{single_profile.bio}}</cite></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            {% for project in projects %}

            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="{{project.image.url}}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{project.title}}</h5>
                        <p class="card-text">{{project.description}}</p>
                        <a href="{% url 'project' project.id %}" class="btn btn-outline-success btn-sm">Read More</a>
                        <a href="{{project.project_url}}" class="btn btn-outline-danger btn-sm">Visit Url</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}